<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>

  <body>
    <%- include('../partials/nav.ejs')%>

    <div class="create-blog content">
      <form method="POST" action="/blogs">
        <hidden name="id" id="_id" value="<%=blog._id%>">
        <label for="title">Blog Title:</label>
        <input type="text" name="title" id="title" required value="<%=blog.title%>" />
        <label for="snippet">Blog snippet:</label>
        <input type="text" name="snippet" id="snippet" required value="<%=blog.snippet%>" />
        <label for="body">Blog Body:</label>
        <textarea name="body" id="body" required value=""><%=blog.body%></textarea>
        <button>Submit</button>
      </form>
    </div>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
