<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>

  <body>
    <%- include('../partials/nav.ejs')%>
      <div class="details content">
        <h1>
          <%= blog.title%>
        </h1>
        <div class="content">
          <p>
            <%= blog.body%>
          </p>
        </div>
        <div class="action">
        <span><a class="edit" href="/blogs/create/<%=blog._id%>">edit</a></span>
      <span><a class="delete" data-doc="<%= blog._id%>">delete</a></span>
      </div>
      </div>
      <%- include('../partials/footer.ejs')%>
  </body>

  <script>
    const trashcan = document.querySelector('a.delete');
    trashcan.addEventListener('click', e => {
      const endpoint = `/blogs/${trashcan.dataset.doc}`;
      fetch(endpoint, {
        method: 'DELETE'
      }).then((response) => response.json())//parse json into javascript object
        .then(data => window.location.href = data.redirect).catch(err => console.log(err));
    });
  </script>

</html>